---
---

.page-header {
  a {
    text-decoration: none;
  }
}

.social-sites-bar {
  i {
    font-size: 24px;
  }
}

.second-level {
  padding-left:20px;
}

.currrent-page {
    font-weight: bolder;
}

.floating-img {
  float: left;
  width: 200px;
  margin-right: 10px;
  margin-top: 4px;
}
